@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #b6e09f54;
  --header-color: #609966;
  --dark-color: #081a00;
  --mid-color: #385031;
  --button-color: #285430;
  --light-color: #e1fccb;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}
